mat-drawer {
    width: 210px;
    background: blue;
    color:white;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:25px;
    background-color:rgb(112, 112, 231);
    text-align:center;
    color:white;
    }
mat-drawer-container {
    height: 100%;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.blue-container{
    color:antiquewhite;
}
