<app-pageheader />
<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h4>Nifty Spot 5 minutes</h4>
          
        </div>
        <div class="card-body">
          <!-- Table to display Futures data -->
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>TIMESTAMP</th>
                <th>Last Price</th>
                <th>OPEN</th>
                <th>HIGH</th>
                <th>LOW</th>
                <th>CLOSE</th>
                <th>High Result</th>
                <th>Low Result</th>
                <th>HighHigh</th>
                <th>LowLow</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nifhl of paginatedNifty50hlrows; let i = index">
                <td>{{ nifhl.timestamp }}</td>
                <td>{{ nifhl.last_price | number:'1.0-0'  }}</td>
                <td>{{ nifhl.ohlc.open | number:'1.0-0' }}</td>
                <td [ngClass]="{
                  'bg-success text-white': isMaxHigh(nifhl.ohlc.high),
                  'bg-primary text-white': isSecondMaxHigh(nifhl.ohlc.high)
                }">
                  {{ nifhl.ohlc.high | number:'1.0-0'  }}
                </td>
                <td [ngClass]="{
                  'bg-danger text-white': isMinLow(nifhl.ohlc.low),
                  'bg-warning text-white': isSecondMinLow(nifhl.ohlc.low)
                }">
                  {{ nifhl.ohlc.low | number:'1.0-0' }}
                </td>
                
                <td>{{ nifhl.ohlc.close | number:'1.0-0'  }}</td>
                <td>{{ getArrow(i > 0 ? nifty50hlrows[i-1].ohlc.high : undefined, nifhl.ohlc.high) }}</td>
                <td>{{ getArrow(i > 0 ? nifty50hlrows[i-1].ohlc.low : undefined, nifhl.ohlc.low) }}</td>

              </tr>

              <!-- Display message when no data is available -->
              <tr *ngIf="nifty50hlrows.length === 0">
                <td colspan="10" class="text-center">No data available</td>
              </tr>
            </tbody>
          </table>

          <!-- PrimeNG Pagination Component -->
          <p-paginator
            [rows]="rows"
            [totalRecords]="totalRecords"
            (onPageChange)="onPageChange($event)">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<app-pagefooter></app-pagefooter>
