<mat-nav-list>
    <div class="logo py-4">
      <img src="\..\..\..\assets\logo.png"  width="150" height="75"alt="Infra and Consulting" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Management Portal </h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/signup">
      <mat-icon>face</mat-icon> New Signup 
    </a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
        <mat-icon>account_box</mat-icon> Login
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/hradminshow">
        <mat-icon>group</mat-icon> Switch to HRAdmin
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/notices">
        <mat-icon>announcement</mat-icon> Notices
      </a>
  </mat-nav-list>